h1{
    font-size: xx-large;
}

body {
    text-align: center;
    background-color: rgb(125, 154, 235);
    font-family: 'Lato', sans-serif;
}

  .eatenBurger{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
}

.eatBurger {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #dfffc9;
}

.addBurger {
    width:10;
}
label{
    font-size:x-large;
}